[submodule "Health"]
	path = Health
	url = https://github.com/OliviaHultman/Journal-health.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/OliviaHultman/Journal-frontend.git
[submodule "Message"]
	path = Message
	url = https://github.com/OliviaHultman/Journal-message.git
[submodule "User"]
	path = User
	url = https://github.com/OliviaHultman/Journal-user.git
[submodule "Search"]
	path = Search
	url = https://github.com/OliviaHultman/Journal-search.git
[submodule "Database"]
	path = Database
	url = https://github.com/OliviaHultman/Journal-database.git
[submodule "Image"]
	path = Image
	url = https://github.com/OliviaHultman/Journal-image.git
